<button ngClass="logout" type="button" name="logout" class="btn btn-default"(click)="logOut()">Logout</button>

<div ngClass="btnS" >
  <button class="btn btn-primary" ngClass="btnS" [routerLink]="['/admin/addClient']" routerLinkActive="router-link-active">Add New Client</button>
  <button class="btn btn-info" ngClass="btnS" [routerLink]="['/admin/clientList']" routerLinkActive="router-link-active"   >Clients List</button>
  <button class="btn btn-danger" ngClass="btnS" [routerLink]="['/admin/deleteClient']" routerLinkActive="router-link-active"   >Delete Client</button>
  <button class="btn btn-success" ngClass="btnS" [routerLink]="['/admin/updateClient']" routerLinkActive="router-link-active"   >Update Client</button>
  <img src="/assets/images/home.jpg" ngClass="homeBtn"  [routerLink]="['/admin']" routerLinkActive="router-link-active" >

</div>




<div >
  <form >
    
    <legend>Delete Client</legend>
      <div class="container">
          <div class="row col-md-6 col-md-offset-2 custyle">
          <table class="table table-striped custab">
          <thead>
              <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>PASSWORD</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let c of clientList ">
                <td>{{c.id}} </td>
                <td>{{c.firstName}} </td>
                <td>{{c.lastName}} </td>
                <td>{{c.email}}</td>
                <td>{{c.password}} </td>
                <td><button   type="submit" class="btn btn-danger" (click)="DeleteClient(c.id)"    >delete</button ></td>
                  </tr>
          </tbody>
          </table>
          </div>
      </div>
  </form>
  </div>

  