<button ngClass="logout" type="button" name="logout" class="btn btn-default"(click)="logOut()">Logout</button>

<div ngClass="btnS" >
  <button class="btn btn-primary" ngClass="btnS" [routerLink]="['/company/AddCoupon']" routerLinkActive="router-link-active">New Coupon</button>
  <button class="btn btn-info" ngClass="btnS" [routerLink]="['/company/CouponList']" routerLinkActive="router-link-active"   >Coupons List</button>
  <button class="btn btn-danger" ngClass="btnS" [routerLink]="['/company/DeleteCoupon']" routerLinkActive="router-link-active"   >Delete Coupon</button>
  <button class="btn btn-success" ngClass="btnS" [routerLink]="['/company/UpdateCoupon']" routerLinkActive="router-link-active"   >Update Coupon</button>
  <img src="/assets/images/home.jpg" ngClass="homeBtn"  [routerLink]="['/company']" routerLinkActive="router-link-active" >

</div>


<div ngClass="add" #addNewc>
  <legend>Add new company</legend>
  <div class="form-group">
  <form #formInfo="ngForm"  [formGroup]="addCouponForm" >

    <!-- <label >Company-id</label>
    <input required type="text" class="form-control"  placeholder="category-Id" [(ngModel)]="couponList.company_id"  name="company-id"  > -->
    <div class="table5">
      <h4>1-sport</h4>
      <h4>2-food</h4>
      <h4>3-kids</h4>
      <h4>4-home&garden</h4>
      <h4>5-travel</h4>
    </div>
    <div class="catego">
    <div class="form-group col">
      
    <label >Category-Id</label> 
   
    <input required type="text" formControlName="categoryId" class="form-control"  placeholder="category-Id"  [(ngModel)]="couponList.categoryId" name="categoryId" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }" >
    <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
      <div *ngIf="f.categoryId.errors.required">categoryId is required</div>
     
  </div>
</div>
<div class="form-group col"> 
<label >Title</label>
    <input   required type="text" class="form-control" formControlName="title" placeholder="title"  [(ngModel)]="couponList.title" name="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
      <div *ngIf="f.title.errors.required">title is required</div>
      <div *ngIf="f.title.errors.maxLength">title must be max 20 characters</div>
  </div>
</div>
<div class="form-group col">
<label >description </label>
    <input  required type="text" class="form-control" formControlName="description"  placeholder="description" [(ngModel)]="couponList.description" name="description"[ngClass]="{ 'is-invalid': submitted && f.description.errors }" >
    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
      <div *ngIf="f.description.errors.required">description is required</div>
      <div *ngIf="f.description.errors.maxLength">description must be max 100 characters</div>
  </div>
</div> 
    <br>
    <div class="form-group col">
    <label >start_date </label>
     <input  required type="date" class="form-control"  formControlName="start_date"   placeholder="start_date"  [(ngModel)]="couponList.start_date" name="start_date"[ngClass]="{ 'is-invalid': submitted && f.start_date.errors }">
     <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback">
      <div *ngIf="f.start_date.errors.required">start date is required</div>
      
  </div>
</div> 
     <br>
     <div class="form-group col">
     <label >end_date </label>
    <input  required type="date"   class="form-control"  formControlName="end_date"  placeholder="end_date " [(ngModel)]="couponList.end_date " name="end_date"[ngClass]="{ 'is-invalid': submitted && f.end_date.errors }" >
    <div *ngIf="submitted && f.end_date.errors" class="invalid-feedback">
      <div *ngIf="f.end_date.errors.required">end date is required</div>
      
  </div>
</div>   
    <br>
    <div class="form-group col">   
    <label >amount </label>
       <input  required type="number" class="form-control" formControlName="amount"  placeholder="amount " [(ngModel)]="couponList.amount" name="amount"[ngClass]="{ 'is-invalid': submitted && f.amount.errors }" >
       <!-- <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
        <div *ngIf="f.amount.errors.required">amount is required</div>
        
    </div> -->
  </div>
       <br>
       <div class="form-group col">
       <label >price </label>
        <input  required type="number" class="form-control" formControlName="price"  placeholder="price "  [(ngModel)]="couponList.price" name="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
        <!-- <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors.required">price is required</div> -->
          
      </div>
    <!-- </div> -->
        <br>
         <label >image </label>
         
          
          <label for="img">Select image:</label>
          <input type="file"  name="img" accept="image/*" [(ngModel)]="couponList.image">
         <input  required type="text" class="form-control"   placeholder="image " [(ngModel)]="couponList.image"  name="image" >
          <br>
    <button    class="btn btn-primary" (click)="CreateCoupon()" >Create</button>
  </div>
</form>
</div>
</div>
