.homeBtn{
  padding: 12px;
  font-family: 'Raleway', sans-serif;
  margin-left: 200px;
  width:100px;
  height:100px;
 
  border-radius: 100px;
  padding: 12px;
 
 }
 

.add{
  margin-left: 20px;
}



#companyList{

  position: relative;
  
   padding: 10%;

}

h4{

  font-family: 'Raleway', sans-serif;
  
position: relative;
text-align: center;

color: darkred;

}


.btnS{
margin: 20px;
  
  position: relative;
  
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color:rgb(253, 91, 51);
  
}


.t2{
  color: rgb(253, 91, 51);
  font-family: 'Raleway', sans-serif;
}










.form-group{
  font-family: 'Raleway', sans-serif;
  margin-right:65% ;

}


.deleteBtn{

  font-family: 'Raleway', sans-serif;

}

#addNew{
margin-bottom: 5%;

}

button{
  font-family: 'Raleway', sans-serif;
  width: 100x;
}







p{

  font-family: 'Raleway', sans-serif;
 
position: relative;
text-align: center;

color: black;
font-size:xx-large;
}


.custab{
  font-family: 'Raleway', sans-serif;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  }
.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
  }
 

 button{
  background-color: #8EE4AF;
 }
 


.col-md-12 {
width: 62%;
}



.input-group {
  font-family: 'Raleway', sans-serif;
  position: relative;
display: table;
border-collapse: separate;
padding-right: 0px;
padding-left: 183px;

}



#companyList{
  font-family: 'Raleway', sans-serif;
  position: relative;

left:50%



}



