<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">   
    
<!--
    instagram: www.instagram.com/programmingtutorial
    site: programlamadersleri.net
-->

<footer>
    <div class="footer-top"> 
       <div class="container">
         <div class="col-lg-2 col-xs-12 text-center">
             <a href="#"><i class="fa fa-facebook fa-2x"></i>Facebook</a>
         </div>
          <div class="col-lg-2 col-xs-12 text-center">
             <a href="#"><i class="fa fa-twitter fa-2x"></i>Twitter</a>
         </div>
          <div class="col-lg-2 col-xs-12 text-center">
             <a href="#"><i class="fa fa-flickr fa-2x"></i>Flickr</a>
         </div>
          <div class="col-lg-2 col-xs-12 text-center">
             <a href="#"><i class="fa fa-tumblr fa-2x"></i>Tumblr</a>
         </div>
          <div class="col-lg-2 col-xs-12 text-center">
             <a href="#"><i class="fa fa-github fa-2x"></i>Github</a>
         </div>
          <div class="col-lg-2 col-xs-12 text-center">
             <a href="#"><i class="fa fa-google-plus fa-2x"></i>Google</a>
         </div>
       </div> 
    </div>  
    
    <div class="container" style="border-top:1px solid grey;">
        <div class="row text-center">   
            <div class="col-lg-6 col-lg-offset-3">
                
               
            </div>
        </div>
    </div>
</footer>


<div class="copyright">
   <div class="container">
   
     <div class="row text-center">
     	<p>Copyright © 2017 All rights reserved</p>
     </div>
     
    </div>
</div>
