
<button ngClass="logout" type="button" name="logout" class="btn btn-default"(click)="logOut()">Logout</button>

<div ngClass="title">
  <p>Admin</p>
</div>

<div ngClass="btnS" >
  <button class="btn btn-primary" ngClass="btnS" [routerLink]="['/admin/caddcompany']" routerLinkActive="router-link-active">Add New Company</button>
  <button class="btn btn-info" ngClass="btnS" [routerLink]="['/admin/CompanyList']" routerLinkActive="router-link-active"   >Companies List</button>
  <button class="btn btn-danger" ngClass="btnS" [routerLink]="['/admin/DeleteCompany']" routerLinkActive="router-link-active"   >Delete Company</button>
  <button class="btn btn-success" ngClass="btnS" [routerLink]="['/admin/UpdateCompany']" routerLinkActive="router-link-active"   >Update Company</button>

</div>


<div ngClass="btnS" >
  <button class="btn btn-primary" ngClass="btnS" [routerLink]="['/admin/addClient']" routerLinkActive="router-link-active">Add New Client</button>
  <button class="btn btn-info" ngClass="btnS" [routerLink]="['/admin/clientList']" routerLinkActive="router-link-active"   >Clients List</button>
  <button class="btn btn-danger" ngClass="btnS" [routerLink]="['/admin/deleteClient']" routerLinkActive="router-link-active"   >Delete Client</button>
  <button class="btn btn-success" ngClass="btnS" [routerLink]="['/admin/updateClient']" routerLinkActive="router-link-active"   >Update Client</button>

</div>

<div ngClass="btnS">
  <button class="btn btn-primary" ngClass="btnS" [routerLink]="['/admin/addCategory']" routerLinkActive="router-link-active">Add New Category</button>
  <button class="btn btn-info" ngClass="btnS" [routerLink]="['/admin/categoryList']" routerLinkActive="router-link-active"   >Category List</button>
  <button class="btn btn-danger" ngClass="btnS" [routerLink]="['/admin/deleteCategory']" routerLinkActive="router-link-active"   >Delete Category</button>
</div>


<img src="/assets/images/company.jpg" alt="">

