<div ngClass="page">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/images/user.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="loginResult.email" name="email" placeholder=" Email">
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="loginResult.password" name="password" placeholder="Password">
    <br>
    <p>Select Type</p> 
    <select [(ngModel)]="loginResult.type" name="type"  >
        
        
         <option selected disabled >Select Type</option>
          <option >Admin</option>
          <option >Company</option>
          <option >Client</option>      
  
      </select>
      
      <br><br>
      
    
    <input type="submit" value="Login" class="fadeIn fourth" (click)="AdminLog()">
    <br>
  </form>
   <button ngClass="btnS" class="btn btn-default" [routerLink]="['/register']" routerLinkActive="router-link-active"  >Register Now</button>
  </div>
</div>
</div>