<button ngClass="logout" type="button" name="logout" class="btn btn-default"(click)="logOut()">Logout</button>


<div ngClass="btnS">
  <button class="btn btn-primary" ngClass="btnS" [routerLink]="['/admin/addCategory']" routerLinkActive="router-link-active">Add New Category</button>
  <button class="btn btn-info" ngClass="btnS" [routerLink]="['/admin/categoryList']" routerLinkActive="router-link-active"   >Category List</button>
  <button class="btn btn-danger" ngClass="btnS" [routerLink]="['/admin/deleteCategory']" routerLinkActive="router-link-active"   >Delete Category</button>
  <img src="/assets/images/home.jpg" ngClass="homeBtn"  [routerLink]="['/admin']" routerLinkActive="router-link-active" >

</div>


<div ngClass="add" >
  <legend>Add new Category</legend>
  <div class="form-group">
  <form #formInfo="ngForm" >

    <label >Name</label>
    <input required type="text" class="form-control"  placeholder="Client firstName"  [(ngModel)]="category.name"  name="name">

    
     <br>
    <button    class="btn btn-primary" (click)="addCategory()" >Create</button>
</form>
</div>
</div>

