


<button ngClass="logout" type="button" name="logout" class="btn btn-default"(click)="logOut()">Logout</button>

<a ngClass="welcome">Welcome :</a><a ngClass="name">{{this.companyName}} </a>
<div ngClass="title">
  <p>Company Controller</p>
</div>

<div ngClass="btnS" >
  <button class="btn btn-primary" ngClass="btnS" [routerLink]="['/company/AddCoupon']" routerLinkActive="router-link-active">New Coupon</button>
  <button class="btn btn-info" ngClass="btnS" [routerLink]="['/company/CouponList']" routerLinkActive="router-link-active"   >Coupons List</button>
  <button class="btn btn-danger" ngClass="btnS" [routerLink]="['/company/DeleteCoupon']" routerLinkActive="router-link-active"   >Delete Coupon</button>
  <button class="btn btn-success" ngClass="btnS" [routerLink]="['/company/UpdateCoupon']" routerLinkActive="router-link-active"   >Update Coupon</button>

</div>

<img src="/assets/images/company.jpg" alt="">

