
img{

  

  height: 400px;
  width: 600px;
margin-bottom: 5%;
  position: relative;
  
  left: 50%;

  transform: translateX(-50%);

}

.welcome{

  
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
  color: #8EE4AF;
  font-size: large;
  font-weight: bold;


}

.name{
  
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
  color: rgb(253, 91, 51);
  font-size: large;
  font-weight: bold;

}

.logout{
  background-color:#8EE4AF ;
  float: right;
  position: relative;
  bottom: 100px;
  right: 20px;
}




.btnS{
 margin-top: 1%;
  position: relative;
  
  text-align: center;
  padding: 12px;

  margin: 12px;
  font-family: 'Raleway', sans-serif;

}

p{
  color: rgb(253, 91, 51);;
}




button{
  font-family: 'Raleway', sans-serif;
}




.title{

  font-family: 'Raleway', sans-serif;
  height: 10%;
position: relative;
text-align: center;
top:20px;
color: black;
font-size:xx-large;
}


















































