<button ngClass="logout" type="button" name="logout" class="btn btn-default"(click)="logOut()">Logout</button>



<div ngClass="btnS" >
  <button class="btn btn-primary" ngClass="btnS" [routerLink]="['/admin/caddcompany']" routerLinkActive="router-link-active">New Company</button>
  <button class="btn btn-info" ngClass="btnS" [routerLink]="['/admin/CompanyList']" routerLinkActive="router-link-active"   >Companies List</button>
  <button class="btn btn-danger" ngClass="btnS" [routerLink]="['/admin/DeleteCompany']" routerLinkActive="router-link-active"   >Delete Company</button>
  <button class="btn btn-success" ngClass="btnS" [routerLink]="['/admin/UpdateCompany']" routerLinkActive="router-link-active"   >Update Company</button>
  <img src="/assets/images/home.jpg" ngClass="homeBtn"  [routerLink]="['/admin']" routerLinkActive="router-link-active" >

</div>

<div >
  <form >
    <legend>Company List</legend>

   
    <div class="container">
          <div class="row col-md-6 col-md-offset-2 custyle">
          <table class="table table-striped custab">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>PASSWORD</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor=" let c of companylista ">
                  <td>{{c.id}} </td>
                  <td>{{c.name}} </td>
                  <td>{{c.email}}</td>
                  <td>{{c.password}} </td>
                  </tr>
          </tbody>
          </table>
          </div>
      </div>
  </form>
  </div>

  